@model HeaderVM

<header>
    <section id="nav-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="navbar navbar-expand-lg navbar-light">
                        <div class="logo">
                            <a asp-controller="Home" asp-action="Index">
                                <img src="~/assets/images/home/@Model.Settings["Logo"]" alt="" />
                            </a>
                        </div>
                        <button class="navbar-toggler"
                                type="button"
                                data-bs-toggle="collapse"
                                data-bs-target="#navbarSupportedContent"
                                aria-controls="navbarSupportedContent"
                                aria-expanded="false"
                                aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse"
                             id="navbarSupportedContent">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                <li class="nav-item">
                                    <a class="nav-link active"
                                       aria-current="page"
                                       asp-controller="Home" asp-action="Index">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active"
                                       aria-current="page"
                                       asp-controller="Shop" asp-action="Index">Shop</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active"
                                       aria-current="page"
                                       asp-controller="Blog" asp-action="Index">Blog</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active"
                                       aria-current="page"
                                       asp-controller="Contact" asp-action="Index">Contact</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active"
                                       aria-current="page"
                                       asp-controller="About" asp-action="Index">About</a>
                                </li>
                            </ul>
                            <div class="basket">
                                <a asp-controller="Basket" asp-action="Index">
                                    <i class="fa-solid fa-basket-shopping"><sup id="basketCount">@Model.Count</sup></i>
                                </a>
                            </div>
                            <div class="heart">
                                <a asp-controller="Favorite" asp-action="Index"><i class="fa-solid fa-heart"><sup>0</sup></i></a>
                            </div>
                            <div class="account">
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <h4 style="margin-right: 15px;">@User.Identity.Name</h4>

                                    <a asp-controller="Account" asp-action="Logout" class="log-out">
                                        <i class="fa-solid fa-right-from-bracket"></i>
                                    </a>

                                    <a asp-controller="Account" asp-action="ChangePassword" class="log-out">
                                        <i class="fa-solid fa-key"></i>
                                    </a>
                                }
                                else
                                {
                                    <a class="nav-link" asp-controller="Account" asp-action="Login">Login/Register</a>
                                }
                            </div>
                        </div>
                    </nav>
                    <div class="line"></div>
                </div>
            </div>
        </div>
    </section>

    <section id="scroll-section">
        <div class="row inActive">
            <div class="col-12">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <div class="logo">
                        <a href="home.html">
                            <img src="~/assets/images/home/logo.png" alt="" />
                        </a>
                    </div>
                    <button class="navbar-toggler"
                            type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#navbarSupportedContent"
                            aria-controls="navbarSupportedContent"
                            aria-expanded="false"
                            aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link active"
                                   aria-current="page"
                                   asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active"
                                   aria-current="page"
                                   asp-controller="Shop" asp-action="Index">Shop</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active"
                                   aria-current="page"
                                   asp-controller="Blog" asp-action="Index">Blog</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active"
                                   aria-current="page"
                                   asp-controller="Contact" asp-action="Index">Contact</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active"
                                   aria-current="page"
                                   asp-controller="About" asp-action="Index">About</a>
                            </li>
                        </ul>
                        <form class="searchh">
                            <div class="search">
                                <input class="search-txt" type="text" name="" placeholder="Search">
                                <a class="search-btn" href="#">
                                    <i class="fas fa-search"></i>
                                </a>
                            </div>
                        </form>
                        <div class="basket">
                            <a href="basket.html"><i class="fa-solid fa-basket-shopping"><sup id="basketCount2">@Model.Count</sup></i></a>
                        </div>
                        <div class="heart">
                            <a asp-controller="Favorite" asp-action="Index"><i class="fa-solid fa-heart"><sup>0</sup></i></a>
                        </div>
                        <div class="account">
                            @if (User.Identity.IsAuthenticated)
                            {
                                <h4 style="margin-right: 15px;">@User.Identity.Name</h4>

                                <a href="" class="log-out">
                                    <i class="fa-solid fa-right-from-bracket"></i>
                                </a>
                            }
                            else
                            {
                                <a class="nav-link" asp-controller="Account" asp-action="Login">Login/Register</a>
                            }
                        </div>
                    </div>
                </nav>
                <div class="line"></div>
            </div>
        </div>
    </section>
</header>
